<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Document</title>

</head>
<body>

	<h2>Log In</h2>

	<form action="/login" method="post">
		
		<input type="text" name="name" placeholder="Enter Name">
		<input type="password" name="password" placeholder="Enter Password">
		<input type="submit">

	</form>

	<br>

	<p>Sign in with <a href="/auth/google">Google</a></p>

	<p>New? Make an account <a href="/signup">here</a></p>
	
	<br>


</body>
</html>